header {
  background-color: var(--background-primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 37px 48px;
}

/* .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slogam {
  margin-top: 10px;
}

.imagem-banner {
  width: 50%;
  margin-top: 20px;
} */

.logo {
  display: inline-block;
}

.navegacao-menu {
  margin-top: 20px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

nav {
  display: none;
}
