header {
  background-color: var(--background-primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 37px 48px;
}

.logo {
  display: inline-block;
}

.navegacao-menu {
  margin-top: 20px;
}

nav {
  display: none;
}
